.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.robot {
  background: url('/images/robot.png');
  background-repeat: no-repeat;
  background-size: 100px 100px;
}
